header {
  .main-header {
    @include flexContainer;
    flex-direction: column;
    width: 100%;
    padding: 90px 0;
    background: url(../img/bg.jpg) fixed center/cover;


h1 {
  font-family: "Montserrat Medium";
  color: white;
  text-transform: uppercase;
}

  }
}

.header-text {
  @include flexContainer;
  padding: 50px 0px;
  
  p {
    text-align: center;
    width: 60%;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
  }
}

@media screen and (max-width: 1000px) {
  .main-header{
    h1 {
      font-size: 1.2rem;
    }
    
  }
}