.contact {
  .contact-container {
    @include flexContainer;
    flex-direction: column;
    padding: 25px 0;
    gap: 20px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      background-color: rgb(205, 203, 203);
      bottom: 115px;
      width: 50%;
  
    }
  }


  .contact-list {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  

  .list {
    width: 13%;

    &:first-child {
      @include flexContainer;
    }

    h5 {
      font-size: 1.2rem;
      text-align: left;
      text-transform: uppercase;
    }

    .network {
      margin: 15px 0 5px 0;
    }

    h6 {
      font-size: 0.9rem;
      margin: 8px 0;
    }

    .infos-p {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0;

      li {
        font-weight: bold;
      }

    }

    .footer-logos {
      display: flex;
      gap: 5px;
      margin-bottom: 50px;
    }
  }

  .contact-medias {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    grid-gap: 6rem;

    .medias-text {
      h3 {
        text-transform: uppercase;
      }

      p {
        font-weight: bold;
        font-size: 1.1rem;
      }
    }

    .medias-logos {
      display: flex;
      gap: 20px;
    }
  }
}
