@charset "UTF-8";
@font-face {
  font-family: "Montserrat Medium";
  src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Montserrat Thin";
  src: url(../fonts/Montserrat-Thin.ttf);
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Medium";
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  list-style: none;
}
nav ul #language {
  background: rgb(203, 196, 191);
  padding: 5px;
  border-radius: 10px;
}
nav ul #language:hover {
  color: red;
}
nav ul li {
  position: relative;
  cursor: pointer;
  font-size: 0.9rem;
  font-family: "Montserrat Medium";
  font-weight: bold;
  text-transform: uppercase;
}
@-webkit-keyframes barSlideIn {
  0% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
}
@keyframes barSlideIn {
  0% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
}
@-webkit-keyframes barSlideOut {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
}
@keyframes barSlideOut {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
}
nav ul li:hover {
  color: #743CB1;
}
nav ul li::after {
  content: "";
  position: absolute;
  background: #743CB1;
  height: 2px;
  width: 100%;
  top: -60%;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  -webkit-animation: barSlideOut 0.3s ease-out forwards;
          animation: barSlideOut 0.3s ease-out forwards;
}
nav ul li:hover::after {
  -webkit-animation: barSlideIn 0.3s ease-out forwards;
          animation: barSlideIn 0.3s ease-out forwards;
}

header .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 45px 0;
  background: url(../img/bg.jpg) center/cover;
  background-attachment: fixed;
}
header .main-header h1 {
  font-family: "Montserrat Medium";
  color: white;
  text-transform: uppercase;
}

.header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0px;
}
.header-text p {
  text-align: center;
  width: 60%;
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
}

.icon-part .icon-part-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(20, 20, 20);
  color: white;
  gap: 25px;
}
.icon-part .icon-part-container .list-icon-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 18%;
  padding: 80px 0;
  gap: 8px;
}
.icon-part .icon-part-container .list-icon-part p {
  text-align: center;
  font-family: "Montserrat Thin";
  font-weight: bold;
  font-size: 1.1rem;
}

button {
  border: 1px solid white;
  background: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 10px 25px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
button:hover {
  color: black;
  background-color: white;
}

.main-header button {
  font-size: 1.3rem;
  padding: 10px 35px;
  letter-spacing: 5px;
  position: relative;
}
.main-header button::after {
  content: "❯";
  position: absolute;
  top: 13%;
  left: 95%;
}/*# sourceMappingURL=index.css.map */