@font-face {
  font-family: "Montserrat Medium";
  src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Montserrat Thin";
  src: url(../fonts/Montserrat-Thin.ttf);
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Medium";
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  list-style: none;
}
nav ul #language {
  background: rgb(203, 196, 191);
  padding: 5px;
  border-radius: 10px;
}
nav ul #language:hover {
  color: red;
}
nav ul li {
  position: relative;
  cursor: pointer;
  font-size: 0.9rem;
  font-family: "Montserrat Medium";
  font-weight: bold;
  text-transform: uppercase;
}
@-webkit-keyframes barSlideIn {
  0% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
}
@keyframes barSlideIn {
  0% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
}
@-webkit-keyframes barSlideOut {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
}
@keyframes barSlideOut {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
}
nav ul li:hover {
  color: #743cb1;
}
nav ul li::after {
  content: "";
  position: absolute;
  background: #743cb1;
  height: 2px;
  width: 100%;
  top: -60%;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  -webkit-animation: barSlideOut 0.3s ease-out forwards;
          animation: barSlideOut 0.3s ease-out forwards;
}
nav ul li:hover::after {
  -webkit-animation: barSlideIn 0.3s ease-out forwards;
          animation: barSlideIn 0.3s ease-out forwards;
}

header .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 90px 0;
  background: url(../img/bg.jpg) fixed center/cover;
}
header .main-header h1 {
  font-family: "Montserrat Medium";
  color: white;
  text-transform: uppercase;
}

.header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px;
}
.header-text p {
  text-align: center;
  width: 60%;
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
}

@media screen and (max-width: 1000px) {
  .main-header h1 {
    font-size: 1.2rem;
  }
}
footer {
  background: black;
  padding: 5px 0;
}
footer h3 {
  color: white;
  text-align: center;
  text-transform: uppercase;
}
footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  gap: 25px;
}

.contact .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 0;
  gap: 20px;
  position: relative;
}
.contact .contact-container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: rgb(205, 203, 203);
  bottom: 115px;
  width: 50%;
}
.contact .contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
.contact .list {
  width: 13%;
}
.contact .list:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact .list h5 {
  font-size: 1.2rem;
  text-align: left;
  text-transform: uppercase;
}
.contact .list .network {
  margin: 15px 0 5px 0;
}
.contact .list h6 {
  font-size: 0.9rem;
  margin: 8px 0;
}
.contact .list .infos-p {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 0;
}
.contact .list .infos-p li {
  font-weight: bold;
}
.contact .list .footer-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  margin-bottom: 50px;
}
.contact .contact-medias {
  display: grid;
  grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  grid-gap: 5rem;
}
.contact .contact-medias .medias-text h3 {
  text-transform: uppercase;
}
.contact .contact-medias .medias-text p {
  font-weight: bold;
  font-size: 1.1rem;
}
.contact .contact-medias .medias-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.icon-part .icon-part-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(20, 20, 20);
  color: white;
  gap: 25px;
}
.icon-part .icon-part-container .list-icon-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 18%;
  padding: 80px 0;
  gap: 8px;
}
.icon-part .icon-part-container .list-icon-part p {
  text-align: center;
  font-family: "Montserrat Thin";
  font-weight: bold;
  font-size: 1.1rem;
}

h2, p {
  margin: 0;
}

.news-part {
  background: rgb(247, 247, 247);
  padding: 75px 0;
}
.news-part .header-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.news-part .header-news .left-part {
  grid-area: lp;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.news-part .header-news .left-part h2 {
  font-family: "Montserrat Thin";
  text-transform: uppercase;
  letter-spacing: 1px;
}
.news-part .header-news .right-part {
  grid-area: rp;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.news-part .main-news .main-news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1100px;
  margin: 45px auto;
}
.news-part .main-news .main-news-container > div {
  position: relative;
  width: 23%;
}
.news-part .main-news .main-news-container .mn-pic img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-box-shadow: rgb(20, 20, 20) 0 2px 10px;
          box-shadow: rgb(20, 20, 20) 0 2px 10px;
  border-radius: 3px;
}
.news-part .main-news .main-news-container h4 {
  margin: 15px 0;
  text-align: left;
}
.news-part .main-news .main-news-container p {
  text-align: left;
  font-size: 0.9rem;
  line-height: 23px;
}
.news-part .main-news .main-news-container .link {
  position: absolute;
  text-align: left;
  bottom: -40px;
}

button,
a {
  position: relative;
}

button {
  border: 1px solid white;
  background: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 10px 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
button:hover {
  color: black;
  background-color: white;
}

.main-header button {
  font-size: 1.3rem;
  padding: 10px 35px;
  letter-spacing: 5px;
}

.right-part button {
  border: 2px solid black;
  color: black;
  padding: 10px 30px;
}
.right-part button:hover {
  border: 2px solid transparent;
  background: rgb(20, 20, 20);
  color: white;
}

a {
  text-decoration: none;
}
a:hover {
  color: turquoise;
}
a:active {
  color: crimson;
}

@media screen and (max-width: 1310px) {
  .contact {
    display: none;
  }
}
@media screen and (max-width: 1210px) {
  .list-icon-part button {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 1160px) {
  nav {
    display: none;
  }
  .icon-part .icon-part-container .list-icon-part p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1050px) {
  footer {
    overflow: hidden;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 5px;
  }
  footer ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 20%;
  }
  footer ul li img {
    width: 30%;
  }
}
@media screen and (max-width: 1000px) {
  .main-header h1 {
    font-size: 1.3rem;
  }
  .main-header button {
    font-size: 0.9rem;
  }
  .header-text p {
    line-height: 25px;
    font-size: 0.8rem;
  }
  .icon-part .icon-part-container h3 {
    text-align: center;
  }
}
@media screen and (max-width: 810px) {
  .icon-part .icon-part-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: none;
  }
  .icon-part .icon-part-container h3 {
    text-align: center;
  }
  .icon-part .icon-part-container .list-icon-part {
    max-width: 90%;
  }
  .icon-part .icon-part-container .list-icon-part p {
    font-size: 0.9rem;
  }
  .news-part .header-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .news-part .header-news .left-part h2 {
    text-align: center;
    margin-bottom: 5px;
  }
  .news-part .header-news .right-part button {
    font-size: 0.9rem;
  }
  .news-part .main-news .main-news-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .news-part .main-news .main-news-container > div {
    width: 90%;
  }
  .news-part .main-news .main-news-container .mn-pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news-part .main-news .main-news-container .mn-pic img {
    width: 35%;
  }
  .news-part .main-news .main-news-container .link {
    position: initial;
    text-align: left;
  }
  .news-part .main-news .main-news-container p {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=index.css.map */